#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navelement {
	float: center;
}

.navelement a {
	background-color: #FFF;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-width: 2;
	border-color: #000;
	font: 'sans-serif';
}

.navelement a:hover:not(.active) {
	background-color: #AAA;
}

.navelement a.active {
	color: #000;
	background-color: #AAA;
}
