#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navelement {
	float: left;
}

.navelement a {
	background-color: #FFF;
	display: block;
	color: #777;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font: 'sans-serif';
}

.navelement a:hover:not(.active) {
	background-color: #000;
}

.navelement a.active {
	color: white;
	background-color: #FFF;
}
